nav {
	width: 100%;
	position: relative;
}

ul {
	display: flex;
	width: 100%;
}

li {
	width: 15%;
}

li svg {
  margin: 32px 0;
}



.cls-1{
	fill:#37003c;
	opacity: 0.3;
}

body {
	display: flex;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

section:nth-of-type(1){
	width: 67%;
}

section:nth-of-type(2){
	background-color: #37003c;
	background-image: url('../images/shape-premier-league.svg');
	background-repeat:no-repeat;
	background-position: bottom 180px right -900px;
	width: 33%;
	height: 100vh;
    transition: all 1.2s;
    position: absolute;
	right:0;
}

.open {
	margin-right: 80%;
	transition: all 1.2s;
}

.white {
	background-color: white;
	width: 80%;
	position: absolute;
	right:-80%;
	transition: all 1.2s;
	height: 100vh;
}

section:nth-of-type(2) > img{
	position:absolute;
	top:0;
	bottom:0;
	right: 32px;
	margin: auto;
	opacity: 0;
	display: none;
	transition: all 1.2s;
}

h1 {
  width: 289px;
  height: 64px;
  opacity: 0.1;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: white;
  position: absolute;
  bottom: -28px;
}

.wrap2 {
	display: flex;
	flex-wrap: wrap;
	margin : 0 auto;
	max-width: 600px;
	padding: 0 20%;
}

.wrap {
	display: flex;
	flex-wrap: wrap;
	margin : 0 auto;
	max-width: 1200px;
	padding: 0 88px;
}

.part {
  width: 100%;
  height: calc(100vh - 130.4px);
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  overflow-y: scroll;
}

input {
	width: 90%;
  height: 64px;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #e8e8e8;
  border: none;
  outline: none;
}

button {
  width: 32px;
  height: 32px;
  border: none;
  background-color:white; 
  outline: none;
  padding: 0;
}

form{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.part hr {
	width: 100%;
	border: 0.5px solid #e8e8e8;
}

.tab hr {
	width: 100%;
	border: 0.5px solid #ffffff;
	opacity: 0.2;
	background-color: #ffffff;
}

.clubs{
	display: grid;
}

.wrap form {
	margin: 80px 0 0 0;
}

header img {
	width: 67.6px;
    height: 104px;
}

header {
	display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 72px 0 48px 0;
    transition: all 0.5s;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tab {
	color: white;
	width: 100%;
}

body{
	overflow: hidden;
}

.gtab {
	width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height:65vh;
    transition: all 1s;
    opacity: 0;
}

.tab span {
	border-radius: 50%;
	background-color: white;
	width: 4px;
    height: 4px;
}

.tab img {
	width: 17.7px;
    height: 24px;
    margin: 0 8px 0 16px;
}

.flex div {
	display: flex;
	align-items: center;
}

.tab .flex div:nth-of-type(1) {
	width: 30px;
    justify-content: space-between;
}

.tab .flex div:nth-of-type(2) {
	width: 100%;
}

.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 56px;
grid-row-gap: 16px;
width: 100%;
margin-top: 63px;
transition: all 1s;
margin-bottom: 63px;
opacity: 0;
}

.parent p{
	text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #37003c;
}

.parent div {
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     border-radius: 10px;
     border: solid 0.9px #e8e8e8;
     width: 100%;
	 height: 165px;
	 transition: all 0.2s;
	 padding: 20px;
	}

.parent div:hover {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
	transition: all 0.2s;
}


.parent img{
	max-height: 48px;
	max-width: 48px;
	margin-bottom:8px;
}

::-webkit-input-placeholder, input
{
  color: #e8e8e8;
}

.tab >.flex >p {
	width:60px;
	text-align: end;
}



li svg:hover path, li svg:hover polygon, li svg:hover rect
{
  fill:#00ff77;
  opacity: 1;
  transition: all 0.2s;
}

.active
{
  fill:#00ff77;
  opacity: 1;
  transition: all 0.2s;
}

.active2
{
  fill:#00ff77;
  opacity: 0;
  transition: all 0.4s;
}

nav span {
   width: 44px;
  height: 8px;
  background-color: #00ff77;
  position: absolute;
  bottom:0%;
  left:0%;
  transition: all 0.4s;
}

::-webkit-scrollbar{width:0px}::-webkit-scrollbar-track{background:rgba(0,191,255,0);border-radius:0px}::-webkit-scrollbar-thumb{background:#c0c0c0;border-radius:22px}

.gradient {
	position: absolute;
	bottom: 0;
	width: 100%;
	height:140px;
	background-image: linear-gradient(to top, #37003c, rgba(55, 0, 60, 0));
}

.wrap2> div{
	position: relative;
	width: 100%;
	overflow-y: hidden;
} 

header svg {
    width: 67.6px;
    height: 104px;

}

header svg path {
	transition: all 0.4s;
}



